html {
    height: 100%;
    box-sizing: border-box;
    max-width: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Public Sans';
    font-weight: normal;
    font-size: 15px;
    // line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #EDF3F8;
    background-image: url(../images/circle1.svg);
    background-repeat: no-repeat;
    background-position: 90% -100%;
}

main {
    flex-grow: 1;
}

img {
    object-fit: cover;
    vertical-align: middle;
}

.container {
    max-width: 1150px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
}

@media only screen and (max-width: 1688px) {
    body {
        background-position: 90% 100%;
    }
}

@media only screen and (max-width: 1278px) {
    body {
        background-position: 150% 70%;
    }
}

@media only screen and (max-width: 890px) {
    body {
        background-position: 50% 200%;
    }
}