.form {
    &__label {
        position: relative;
        max-width: 445px;
        width: 100%;
        display: flex;
        margin: 0 auto;
        
        .form__input {
            padding: 15px 0;
            padding-left: 27px;
            font-size: 15px;
            color: #36536B;
            mix-blend-mode: normal;
            font-weight: bold;
            border-radius: 24px;
            background-color: #FBFCFE;
            border: none;
            box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
            max-width: 445px;
            width: 100%;
        }

        .form__input::placeholder {
            opacity: 0.5;
        }

        .form__button {
            right: 0;
            position: absolute;
            border: none;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 494px) {
    .form {
        &__label {
            flex-direction: column;
            
            .form__input {
                margin-bottom: 16px;
            }

            .form__button {
                position: relative;
                max-width: 445px;
                width: 100%;
            }
        }
    }
}